DONE:
=============
1. Extract table from web (https://diagnos.co.id/2020/03/21/data-realtime-kasus-covid-19-di-seluruh-dunia/)
2. Turn the result into dataframe
3. Clean dataframe
4. Add one column with date time
5. Write dataframe to Microsoft Word.
6. Color value: >=2000 red, >=1000 yellow, and >=500 green

In [2]:
import pandas as pd
import numpy as np
import scrapy
from scrapy import Selector
import requests

In [4]:
from urllib.request import Request, urlopen

req = Request('https://diagnos.co.id/2020/03/21/data-realtime-kasus-covid-19-di-seluruh-dunia/',
              headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36'})
webpage = urlopen(req).read()#.decode("utf-8")
type(webpage)

bytes

In [5]:
lists = pd.read_html(webpage)
lists

[    No                    Provinsi  Positif   Sembuh  Meninggal
 0    1                 DKI Jakarta    9.222    4.329        557
 1    2                  Jawa Timur    8.308    2.325        637
 2    3            Sulawesi Selatan    3.116    1.088        123
 3    4                  Jawa Barat    2.662    1.151        162
 4    5                 Jawa Tengah    2.231  795.000        121
 5    6          Kalimantan Selatan    2.122  253.000        135
 6    7            Sumatera Selatan    1.498  670.000         57
 7    8                       Papua    1.281  294.000          7
 8    9                      Banten    1.277  485.000         79
 9   10              Sumatera Utara  957.000  222.000         66
 10  11         Nusa Tenggara Barat  957.000  623.000         35
 11  12                        Bali  782.000  510.000          6
 12  13              Sulawesi Utara  701.000  115.000         59
 13  14              Sumatera Barat  687.000  459.000         30
 14  15           Kalimantan Tengah  657.000  243.000         37
 15  16                      Maluku  496.000  111.000         13
 16  17            Kalimantan Timur  392.000  275.000          4
 17  18                Maluku Utara  315.000   48.000         22
 18  19           Sulawesi Tenggara  291.000  203.000          5
 19  20  Daerah Istimewa Yogyakarta  273.000  213.000          8
 20  21            Kalimantan Barat  270.000  167.000          4
 21  22              Kepulauan Riau  254.000  149.000         16
 22  23                   Gorontalo  214.000   90.000          8
 23  24                 Papua Barat  212.000   94.000          3
 24  25             Sulawesi Tengah  172.000  125.000          4
 25  26            Kalimantan Utara  171.000  137.000          2
 26  27                     Lampung  166.000  116.000         12
 27  28   Kepulauan Bangka Belitung  145.000   63.000          3
 28  29                        Riau  126.000  111.000          6
 29  30                       Jambi  108.000   45.000          0
 30  31         Nusa Tenggara Timur  108.000   40.000          1
 31  32                    Bengkulu  104.000   63.000          6
 32  33              Sulawesi Barat   98.000   71.000          2
 33  34                        Aceh   27.000   20.000          1]

In [6]:
df = lists[0]
df

    No                    Provinsi  Positif   Sembuh  Meninggal
0    1                 DKI Jakarta    9.222    4.329        557
1    2                  Jawa Timur    8.308    2.325        637
2    3            Sulawesi Selatan    3.116    1.088        123
3    4                  Jawa Barat    2.662    1.151        162
4    5                 Jawa Tengah    2.231  795.000        121
5    6          Kalimantan Selatan    2.122  253.000        135
6    7            Sumatera Selatan    1.498  670.000         57
7    8                       Papua    1.281  294.000          7
8    9                      Banten    1.277  485.000         79
9   10              Sumatera Utara  957.000  222.000         66
10  11         Nusa Tenggara Barat  957.000  623.000         35
11  12                        Bali  782.000  510.000          6
12  13              Sulawesi Utara  701.000  115.000         59
13  14              Sumatera Barat  687.000  459.000         30
14  15           Kalimantan Tengah  657.000  243.000         37
15  16                      Maluku  496.000  111.000         13
16  17            Kalimantan Timur  392.000  275.000          4
17  18                Maluku Utara  315.000   48.000         22
18  19           Sulawesi Tenggara  291.000  203.000          5
19  20  Daerah Istimewa Yogyakarta  273.000  213.000          8
20  21            Kalimantan Barat  270.000  167.000          4
21  22              Kepulauan Riau  254.000  149.000         16
22  23                   Gorontalo  214.000   90.000          8
23  24                 Papua Barat  212.000   94.000          3
24  25             Sulawesi Tengah  172.000  125.000          4
25  26            Kalimantan Utara  171.000  137.000          2
26  27                     Lampung  166.000  116.000         12
27  28   Kepulauan Bangka Belitung  145.000   63.000          3
28  29                        Riau  126.000  111.000          6
29  30                       Jambi  108.000   45.000          0
30  31         Nusa Tenggara Timur  108.000   40.000          1
31  32                    Bengkulu  104.000   63.000          6
32  33              Sulawesi Barat   98.000   71.000          2
33  34                        Aceh   27.000   20.000          1

In [7]:
df.dtypes

No             int64
Provinsi      object
Positif      float64
Sembuh       float64
Meninggal      int64
dtype: object

In [19]:
df['Last Update']=pd.to_datetime('today').strftime("%d-%m-%Y")
df

    No                    Provinsi  Positif   Sembuh  Meninggal Last Update
0    1                 DKI Jakarta    9.222    4.329        557  17-06-2020
1    2                  Jawa Timur    8.308    2.325        637  17-06-2020
2    3            Sulawesi Selatan    3.116    1.088        123  17-06-2020
3    4                  Jawa Barat    2.662    1.151        162  17-06-2020
4    5                 Jawa Tengah    2.231  795.000        121  17-06-2020
5    6          Kalimantan Selatan    2.122  253.000        135  17-06-2020
6    7            Sumatera Selatan    1.498  670.000         57  17-06-2020
7    8                       Papua    1.281  294.000          7  17-06-2020
8    9                      Banten    1.277  485.000         79  17-06-2020
9   10              Sumatera Utara  957.000  222.000         66  17-06-2020
10  11         Nusa Tenggara Barat  957.000  623.000         35  17-06-2020
11  12                        Bali  782.000  510.000          6  17-06-2020
12  13              Sulawesi Utara  701.000  115.000         59  17-06-2020
13  14              Sumatera Barat  687.000  459.000         30  17-06-2020
14  15           Kalimantan Tengah  657.000  243.000         37  17-06-2020
15  16                      Maluku  496.000  111.000         13  17-06-2020
16  17            Kalimantan Timur  392.000  275.000          4  17-06-2020
17  18                Maluku Utara  315.000   48.000         22  17-06-2020
18  19           Sulawesi Tenggara  291.000  203.000          5  17-06-2020
19  20  Daerah Istimewa Yogyakarta  273.000  213.000          8  17-06-2020
20  21            Kalimantan Barat  270.000  167.000          4  17-06-2020
21  22              Kepulauan Riau  254.000  149.000         16  17-06-2020
22  23                   Gorontalo  214.000   90.000          8  17-06-2020
23  24                 Papua Barat  212.000   94.000          3  17-06-2020
24  25             Sulawesi Tengah  172.000  125.000          4  17-06-2020
25  26            Kalimantan Utara  171.000  137.000          2  17-06-2020
26  27                     Lampung  166.000  116.000         12  17-06-2020
27  28   Kepulauan Bangka Belitung  145.000   63.000          3  17-06-2020
28  29                        Riau  126.000  111.000          6  17-06-2020
29  30                       Jambi  108.000   45.000          0  17-06-2020
30  31         Nusa Tenggara Timur  108.000   40.000          1  17-06-2020
31  32                    Bengkulu  104.000   63.000          6  17-06-2020
32  33              Sulawesi Barat   98.000   71.000          2  17-06-2020
33  34                        Aceh   27.000   20.000          1  17-06-2020

In [20]:
Positif_new = (round(df.loc[0:8, ['Positif']] * 1000)).append(df.loc[9:, ['Positif']])
Positif_new

    Positif
0    9222.0
1    8308.0
2    3116.0
3    2662.0
4    2231.0
5    2122.0
6    1498.0
7    1281.0
8    1277.0
9     957.0
10    957.0
11    782.0
12    701.0
13    687.0
14    657.0
15    496.0
16    392.0
17    315.0
18    291.0
19    273.0
20    270.0
21    254.0
22    214.0
23    212.0
24    172.0
25    171.0
26    166.0
27    145.0
28    126.0
29    108.0
30    108.0
31    104.0
32     98.0
33     27.0

In [21]:
Sembuh_new = (round(df.loc[0:3,['Sembuh']] * 1000)).append(df.loc[4:,['Sembuh']])
Sembuh_new

    Sembuh
0   4329.0
1   2325.0
2   1088.0
3   1151.0
4    795.0
5    253.0
6    670.0
7    294.0
8    485.0
9    222.0
10   623.0
11   510.0
12   115.0
13   459.0
14   243.0
15   111.0
16   275.0
17    48.0
18   203.0
19   213.0
20   167.0
21   149.0
22    90.0
23    94.0
24   125.0
25   137.0
26   116.0
27    63.0
28   111.0
29    45.0
30    40.0
31    63.0
32    71.0
33    20.0

In [25]:
dfnew = df.copy()
dfnew.head()

   No          Provinsi  Positif   Sembuh  Meninggal Last Update
0   1       DKI Jakarta    9.222    4.329        557  17-06-2020
1   2        Jawa Timur    8.308    2.325        637  17-06-2020
2   3  Sulawesi Selatan    3.116    1.088        123  17-06-2020
3   4        Jawa Barat    2.662    1.151        162  17-06-2020
4   5       Jawa Tengah    2.231  795.000        121  17-06-2020

In [26]:
dfnew = df.copy()
dfnew['Positif']= Positif_new
dfnew['Sembuh'] = Sembuh_new
dfnew

    No                    Provinsi  Positif  Sembuh  Meninggal Last Update
0    1                 DKI Jakarta   9222.0  4329.0        557  17-06-2020
1    2                  Jawa Timur   8308.0  2325.0        637  17-06-2020
2    3            Sulawesi Selatan   3116.0  1088.0        123  17-06-2020
3    4                  Jawa Barat   2662.0  1151.0        162  17-06-2020
4    5                 Jawa Tengah   2231.0   795.0        121  17-06-2020
5    6          Kalimantan Selatan   2122.0   253.0        135  17-06-2020
6    7            Sumatera Selatan   1498.0   670.0         57  17-06-2020
7    8                       Papua   1281.0   294.0          7  17-06-2020
8    9                      Banten   1277.0   485.0         79  17-06-2020
9   10              Sumatera Utara    957.0   222.0         66  17-06-2020
10  11         Nusa Tenggara Barat    957.0   623.0         35  17-06-2020
11  12                        Bali    782.0   510.0          6  17-06-2020
12  13              Sulawesi Utara    701.0   115.0         59  17-06-2020
13  14              Sumatera Barat    687.0   459.0         30  17-06-2020
14  15           Kalimantan Tengah    657.0   243.0         37  17-06-2020
15  16                      Maluku    496.0   111.0         13  17-06-2020
16  17            Kalimantan Timur    392.0   275.0          4  17-06-2020
17  18                Maluku Utara    315.0    48.0         22  17-06-2020
18  19           Sulawesi Tenggara    291.0   203.0          5  17-06-2020
19  20  Daerah Istimewa Yogyakarta    273.0   213.0          8  17-06-2020
20  21            Kalimantan Barat    270.0   167.0          4  17-06-2020
21  22              Kepulauan Riau    254.0   149.0         16  17-06-2020
22  23                   Gorontalo    214.0    90.0          8  17-06-2020
23  24                 Papua Barat    212.0    94.0          3  17-06-2020
24  25             Sulawesi Tengah    172.0   125.0          4  17-06-2020
25  26            Kalimantan Utara    171.0   137.0          2  17-06-2020
26  27                     Lampung    166.0   116.0         12  17-06-2020
27  28   Kepulauan Bangka Belitung    145.0    63.0          3  17-06-2020
28  29                        Riau    126.0   111.0          6  17-06-2020
29  30                       Jambi    108.0    45.0          0  17-06-2020
30  31         Nusa Tenggara Timur    108.0    40.0          1  17-06-2020
31  32                    Bengkulu    104.0    63.0          6  17-06-2020
32  33              Sulawesi Barat     98.0    71.0          2  17-06-2020
33  34                        Aceh     27.0    20.0          1  17-06-2020

In [27]:
cols = ['Positif','Sembuh']
dfnew[cols] = dfnew[cols].applymap(np.int64)
dfnew

    No                    Provinsi  Positif  Sembuh  Meninggal Last Update
0    1                 DKI Jakarta     9222    4329        557  17-06-2020
1    2                  Jawa Timur     8308    2325        637  17-06-2020
2    3            Sulawesi Selatan     3116    1088        123  17-06-2020
3    4                  Jawa Barat     2662    1151        162  17-06-2020
4    5                 Jawa Tengah     2231     795        121  17-06-2020
5    6          Kalimantan Selatan     2122     253        135  17-06-2020
6    7            Sumatera Selatan     1498     670         57  17-06-2020
7    8                       Papua     1281     294          7  17-06-2020
8    9                      Banten     1277     485         79  17-06-2020
9   10              Sumatera Utara      957     222         66  17-06-2020
10  11         Nusa Tenggara Barat      957     623         35  17-06-2020
11  12                        Bali      782     510          6  17-06-2020
12  13              Sulawesi Utara      701     115         59  17-06-2020
13  14              Sumatera Barat      687     459         30  17-06-2020
14  15           Kalimantan Tengah      657     243         37  17-06-2020
15  16                      Maluku      496     111         13  17-06-2020
16  17            Kalimantan Timur      392     275          4  17-06-2020
17  18                Maluku Utara      315      48         22  17-06-2020
18  19           Sulawesi Tenggara      291     203          5  17-06-2020
19  20  Daerah Istimewa Yogyakarta      273     213          8  17-06-2020
20  21            Kalimantan Barat      270     167          4  17-06-2020
21  22              Kepulauan Riau      254     149         16  17-06-2020
22  23                   Gorontalo      214      90          8  17-06-2020
23  24                 Papua Barat      212      94          3  17-06-2020
24  25             Sulawesi Tengah      172     125          4  17-06-2020
25  26            Kalimantan Utara      171     137          2  17-06-2020
26  27                     Lampung      166     116         12  17-06-2020
27  28   Kepulauan Bangka Belitung      145      63          3  17-06-2020
28  29                        Riau      126     111          6  17-06-2020
29  30                       Jambi      108      45          0  17-06-2020
30  31         Nusa Tenggara Timur      108      40          1  17-06-2020
31  32                    Bengkulu      104      63          6  17-06-2020
32  33              Sulawesi Barat       98      71          2  17-06-2020
33  34                        Aceh       27      20          1  17-06-2020

In [31]:
dfnew.head()

   No          Provinsi  Positif  Sembuh  Meninggal Last Update
0   1       DKI Jakarta     9222    4329        557  17-06-2020
1   2        Jawa Timur     8308    2325        637  17-06-2020
2   3  Sulawesi Selatan     3116    1088        123  17-06-2020
3   4        Jawa Barat     2662    1151        162  17-06-2020
4   5       Jawa Tengah     2231     795        121  17-06-2020

In [ ]:
import docx
import pandas as pd

doc = docx.Document()

#heading
doc.add_heading('Data COVID-19 Seluruh Indonesia', level=2)
doc.add_paragraph('These are the list of the price of golds')#, style='Intense Quote')

table = doc.add_table(dfnew.shape[0]+1, dfnew.shape[1])

# header table
for j in range(dfnew.shape[-1]):
    table.cell(0,j).text = dfnew.columns[j]
    
for i in range(dfnew.shape[0]):
    for j in range(dfnew.shape[-1]):
        table.cell(i+1,j).text = str(dfnew.values[i,j])

table.style = 'DarkList'
doc.save('Data Covid-19.docx')
print('File Saved!!')

# Existing Table

In [228]:
from docx import Document
import pandas as pd
document = Document('Data Covid-19 Update 2020-06-17.docx')

tables = []
for table in document.tables:
    df = [['' for i in range(len(table.columns))] for j in range(len(table.rows))]
    for i, row in enumerate(table.rows):
        for j, cell in enumerate(row.cells):
            if cell.text:
                df[i][j] = cell.text
    tables.append(pd.DataFrame(df))
print(tables)

[     0                           1        2       3          4            5
0   No                    Provinsi  Positif  Sembuh  Meninggal  Last Update
1    1                 DKI Jakarta     9222    4329        557   17-06-2020
2    2                  Jawa Timur     8308    2325        637   17-06-2020
3    3            Sulawesi Selatan     3116    1088        123   17-06-2020
4    4                  Jawa Barat     2662    1151        162   17-06-2020
5    5                 Jawa Tengah     2231     795        121   17-06-2020
6    6          Kalimantan Selatan     2122     253        135   17-06-2020
7    7            Sumatera Selatan     1498     670         57   17-06-2020
8    8                       Papua     1281     294          7   17-06-2020
9    9                      Banten     1277     485         79   17-06-2020
10  10              Sumatera Utara      957     222         66   17-06-2020
11  11         Nusa Tenggara Barat      957     623         35   17-06-2020
12  12                        Bali      782     510          6   17-06-2020
13  13              Sulawesi Utara      701     115         59   17-06-2020
14  14              Sumatera Barat      687     459         30   17-06-2020
15  15           Kalimantan Tengah      657     243         37   17-06-2020
16  16                      Maluku      496     111         13   17-06-2020
17  17            Kalimantan Timur      392     275          4   17-06-2020
18  18                Maluku Utara      315      48         22   17-06-2020
19  19           Sulawesi Tenggara      291     203          5   17-06-2020
20  20  Daerah Istimewa Yogyakarta      273     213          8   17-06-2020
21  21            Kalimantan Barat      270     167          4   17-06-2020
22  22              Kepulauan Riau      254     149         16   17-06-2020
23  23                   Gorontalo      214      90          8   17-06-2020
24  24                 Papua Barat      212      94          3   17-06-2020
25  25             Sulawesi Tengah      172     125          4   17-06-2020
26  26            Kalimantan Utara      171     137          2   17-06-2020
27  27                     Lampung      166     116         12   17-06-2020
28  28   Kepulauan Bangka Belitung      145      63          3   17-06-2020
29  29                        Riau      126     111          6   17-06-2020
30  30                       Jambi      108      45          0   17-06-2020
31  31         Nusa Tenggara Timur      108      40          1   17-06-2020
32  32                    Bengkulu      104      63          6   17-06-2020
33  33              Sulawesi Barat       98      71          2   17-06-2020
34  34                        Aceh       27      20          1   17-06-2020]

In [238]:
covid = tables[0]

#Add header as label
header = covid.iloc[0]
covid =covid[1:]
covid.columns = header
covid.head()

0 No          Provinsi Positif Sembuh Meninggal Last Update
1  1       DKI Jakarta    9222   4329       557  17-06-2020
2  2        Jawa Timur    8308   2325       637  17-06-2020
3  3  Sulawesi Selatan    3116   1088       123  17-06-2020
4  4        Jawa Barat    2662   1151       162  17-06-2020
5  5       Jawa Tengah    2231    795       121  17-06-2020

In [239]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 1 to 34
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           34 non-null     object
 1   Provinsi     34 non-null     object
 2   Positif      34 non-null     object
 3   Sembuh       34 non-null     object
 4   Meninggal    34 non-null     object
 5   Last Update  34 non-null     object
dtypes: object(6)
memory usage: 1.7+ KB

In [240]:
covid[['Positif', 'Sembuh','Meninggal']] = covid[['Positif', 'Sembuh', 'Meninggal']].astype(str).astype(int)

D:\app\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [241]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 1 to 34
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           34 non-null     object
 1   Provinsi     34 non-null     object
 2   Positif      34 non-null     int32
 3   Sembuh       34 non-null     int32
 4   Meninggal    34 non-null     int32
 5   Last Update  34 non-null     object
dtypes: int32(3), object(3)
memory usage: 1.3+ KB

In [242]:
def color_negative_red(value):
  if value >=2000:
    color = 'red'
  elif value >=1000:
    color = 'yellow'
  elif value >=500:
    color = 'green'
  else:
    color = 'none'

  return 'background-color: %s' % color

cov_color = covid[['Positif', 'Sembuh', 'Meninggal']]
cov_color.style.applymap(color_negative_red)

In [243]:
covid = covid.style.applymap(color_negative_red, subset=['Positif', 'Sembuh', 'Meninggal'])
covid

In [222]:
covid.to_excel("Data Covid-19 With Color Format.xlsx") 
print('File Saved!!')

File Saved!!