DONE:
=============

1. Extract table from web
    ('https://www.cnbcindonesia.com/investment/20200612092657-21-164835/harga-emas-antam-melorot-jadi-rp-828120-gram-beli-gak-nih')
    
2. Get all price in Rupiah in a list

3. Turn the list into a dataframe anda change the label into datetime of today "dd-mm-yyyy"

4. Write the dataframe into Microsoft Word

5. Update an existing document by add more columns

------------------------------------------------------------------------------------------------------------------

In [2]:
import pandas as pd
import docx
from docx import Document

In [3]:
import scrapy
from scrapy import Selector
import requests

url = 'https://www.cnbcindonesia.com/investment/20200612092657-21-164835/harga-emas-antam-melorot-jadi-rp-828120-gram-beli-gak-nih'
html = requests.get(url).content
type(html)

bytes

In [52]:
sel = Selector(text = html)
type(sel)

scrapy.selector.unified.Selector

In [53]:
small = sel.xpath('//*[@class="detail_text"]/p')
list = small.extract()
list

['<p><strong><span>Jakarta, </span></strong><strong><span>CNBC</span></strong><strong><span> Indonesia -</span></strong><span> </span><span>H</span><span>arga emas logam mulia acuan yang diproduksi PT Aneka Tambang Tbk (Antam) hari</span><span> <span>Jumat</span></span><span> ini (</span><span>12</span><span>/</span><span>6</span><span>/2020) </span><span>turun 0,84</span><span>% </span><span>atau sebesar Rp 7.000 menjadi </span><span>Rp 8</span><span>28.12</span><span>0/gram dari perdagangan </span><span>Kamis</span><span> kemarin</span><span> di level Rp 835.120/gram</span><span>.</span></p>',
 '<p><span>Sebelumnya pada perdagangan </span><span>Kamis </span><span>kemarin, harga emas Antam </span><span>naik 1,46% atau Rp 12.000 </span><span>dari posisi harga </span><span>Rabu</span><span> yakni Rp 8</span><span>23.12</span><span>0/gram.</span><span> <span></span></span></p>',
 '<p><span>Berdasarkan pencatatan data harga Logam Mulia di gerai Jakarta Gedung Antam di situs logammulia milik Antam hari ini, harga tiap gram emas Antam ukuran 100 gram </span><span>turun 0,84% berada</span><span> di </span><span>Rp 82,812 juta dari harga kemarin </span><span>Rp 8</span><span>3,512</span><span> juta per batang.</span></p>',
 '<p><span>Emas Antam kepingan 100 gram lumrah dijadikan acuan transaksi emas secara umum, tidak hanya emas Antam. Harga emas Antam di gerai penjualan lain bisa berbeda.</span></p>',
 '<p><span>Adapun khusus harga 1 gram emas Antam hari </span><span>Jumat</span><span> ini (</span><span>12</span><span>/</span><span>6</span><span>/2020) </span><span>turun Rp 7.000</span><span> </span><span>menjadi</span><span> Rp </span><span>886</span><span>.000/gram setelah </span><span>naik Rp 12.000 ke </span><span>Rp </span><span>893</span><span>.000/gram pada hari </span><span>Kamis</span><span> kemarin.</span></p>',
 '<p></p>',
 '<p></p>',
 '<p><span>Di sisi lain, harga beli kembali (<em>buyback</em>) emas Antam hari ini juga </span><span>turun 0,89% atau Rp 7.000</span><span> ditetapkan pada Rp </span><span>777</span><span>.000/gram</span><span>,</span><span> dari posisi kemarin</span><span> Rp 784.000/gram</span><span>. Harga itu menunjukkan harga beli yang harus dibayar Antam jika pemilik batang emas bersertifikat ingin menjual kembali investasi tersebut.</span></p>',
 '<p>Namun jika membandingkan dengan harga emas yang sempat mencapai rekor Rp 895.000/gram yang dicapai pada Jumat 3 April 2020, maka harga emas Antam\xa0hari ini sudah jatuh Rp 66.880. Ini adalah harga emas acuan 100 gram. Sementara itu, pada 3 April tersebut, khusus harga 1 gram emas Antam juga naik tembus Rp 944.000/gram.</p>',
 '<p>Saat itu harga emas Antam tembus rekor seiring dengan harga emas dunia yang kembali naik ke atas level psikologis US$ 1.600 per troy ons pada 3 April tersebut.</p>',
 '<p></p>',
 '<p><iframe src="https://datawrapper.dwcdn.net/Bt0kd/1/" id="datawrapper-chart-Bt0kd" height="661" frameborder="0" scrolling="no" title="Harga Emas Antam 12 Juni 2020" aria-label="chart" style="width: 0; min-width: 100% !important; border: none;"></iframe><script>// <![CDATA[!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*=\'"+e+"\']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();// ]]></script></p>',
 '<p>Penurunan harga emas Antam\xa0hari ini seiring dengan turunnya harga emas dunia di pasar spot pada penutupan perdagangan hari Kamis kemarin (Jumat pagi waktu Indonesia) yang turun sebesar US$ 9,09 atau 0,53% menjadi US$ 1.727,15/troy ons setelah naik US$ 21,92 atau 1,28% menjadi US$ 1.736,24/troy ons sebelumnya, melansir dari Refinitiv.</p>',
 '<p><span>Sementara harga emas berjangka AS untuk pengiriman bulan Agustus justru naik US$ 19,10 atau sekitar 1,1% pada US$ 1.739,80/troy ons setelah turun US$ 1,20 atau 0,1% ke US$ 1.720,70/troy ons sebelumnya, melansir dari RTTNews.</span></p>',
 '<p><span>Penurunan harga emas dunia kemarin menyusul aksi ambil untung (<em>profit taking</em>) setelah reli 3 hari berturut.<span> </span></span></p>',
 '<p></p>',
 '<p><strong><span>TIM RISET </span></strong><strong><span>CNBC</span></strong><strong><span> INDONESIA</span></strong><span></span></p>',
 '<p></p>']

In [54]:
import re

pattern = re.compile(r"|<p>|</p>|<strong>|</strong>|<span>|</span>|\b", re.I)
phrases = list
listnew = [pattern.sub("", phrase) for phrase in phrases]
listnew

['Jakarta, CNBC Indonesia - Harga emas logam mulia acuan yang diproduksi PT Aneka Tambang Tbk (Antam) hari Jumat ini (12/6/2020) turun 0,84% atau sebesar Rp 7.000 menjadi Rp 828.120/gram dari perdagangan Kamis kemarin di level Rp 835.120/gram.',
 'Sebelumnya pada perdagangan Kamis kemarin, harga emas Antam naik 1,46% atau Rp 12.000 dari posisi harga Rabu yakni Rp 823.120/gram. ',
 'Berdasarkan pencatatan data harga Logam Mulia di gerai Jakarta Gedung Antam di situs logammulia milik Antam hari ini, harga tiap gram emas Antam ukuran 100 gram turun 0,84% berada di Rp 82,812 juta dari harga kemarin Rp 83,512 juta per batang.',
 'Emas Antam kepingan 100 gram lumrah dijadikan acuan transaksi emas secara umum, tidak hanya emas Antam. Harga emas Antam di gerai penjualan lain bisa berbeda.',
 'Adapun khusus harga 1 gram emas Antam hari Jumat ini (12/6/2020) turun Rp 7.000 menjadi Rp 886.000/gram setelah naik Rp 12.000 ke Rp 893.000/gram pada hari Kamis kemarin.',
 '',
 '',
 'Di sisi lain, harga beli kembali (<em>buyback</em>) emas Antam hari ini juga turun 0,89% atau Rp 7.000 ditetapkan pada Rp 777.000/gram, dari posisi kemarin Rp 784.000/gram. Harga itu menunjukkan harga beli yang harus dibayar Antam jika pemilik batang emas bersertifikat ingin menjual kembali investasi tersebut.',
 'Namun jika membandingkan dengan harga emas yang sempat mencapai rekor Rp 895.000/gram yang dicapai pada Jumat 3 April 2020, maka harga emas Antam\xa0hari ini sudah jatuh Rp 66.880. Ini adalah harga emas acuan 100 gram. Sementara itu, pada 3 April tersebut, khusus harga 1 gram emas Antam juga naik tembus Rp 944.000/gram.',
 'Saat itu harga emas Antam tembus rekor seiring dengan harga emas dunia yang kembali naik ke atas level psikologis US$ 1.600 per troy ons pada 3 April tersebut.',
 '',
 '<iframe src="https://datawrapper.dwcdn.net/Bt0kd/1/" id="datawrapper-chart-Bt0kd" height="661" frameborder="0" scrolling="no" title="Harga Emas Antam 12 Juni 2020" aria-label="chart" style="width: 0; min-width: 100% !important; border: none;"></iframe><script>// <![CDATA[!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*=\'"+e+"\']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();// ]]></script>',
 'Penurunan harga emas Antam\xa0hari ini seiring dengan turunnya harga emas dunia di pasar spot pada penutupan perdagangan hari Kamis kemarin (Jumat pagi waktu Indonesia) yang turun sebesar US$ 9,09 atau 0,53% menjadi US$ 1.727,15/troy ons setelah naik US$ 21,92 atau 1,28% menjadi US$ 1.736,24/troy ons sebelumnya, melansir dari Refinitiv.',
 'Sementara harga emas berjangka AS untuk pengiriman bulan Agustus justru naik US$ 19,10 atau sekitar 1,1% pada US$ 1.739,80/troy ons setelah turun US$ 1,20 atau 0,1% ke US$ 1.720,70/troy ons sebelumnya, melansir dari RTTNews.',
 'Penurunan harga emas dunia kemarin menyusul aksi ambil untung (<em>profit taking</em>) setelah reli 3 hari berturut. ',
 '',
 'TIM RISET CNBC INDONESIA',
 '']

In [55]:
string = str(listnew)
string

price_list = re.findall("Rp\s\d\d\d.\d+", string )
price_list

['Rp 828.120',
 'Rp 835.120',
 'Rp 823.120',
 'Rp 886.000',
 'Rp 893.000',
 'Rp 777.000',
 'Rp 784.000',
 'Rp 895.000',
 'Rp 944.000']

In [56]:
df = pd.DataFrame(price_list)
df[pd.to_datetime('today').strftime("%d-%m-%Y")] = df[0]
df

            0  22-06-2020
0  Rp 828.120  Rp 828.120
1  Rp 835.120  Rp 835.120
2  Rp 823.120  Rp 823.120
3  Rp 886.000  Rp 886.000
4  Rp 893.000  Rp 893.000
5  Rp 777.000  Rp 777.000
6  Rp 784.000  Rp 784.000
7  Rp 895.000  Rp 895.000
8  Rp 944.000  Rp 944.000

In [50]:
dfnew21 = dfnew
dfnew21

   21-06-2020
0  Rp 828.120
1  Rp 835.120
2  Rp 823.120
3  Rp 886.000
4  Rp 893.000
5  Rp 777.000
6  Rp 784.000
7  Rp 895.000
8  Rp 944.000

In [57]:
dfnew22 = pd.DataFrame(df[pd.to_datetime('today').strftime("%d-%m-%Y")] )
dfnew22

   22-06-2020
0  Rp 828.120
1  Rp 835.120
2  Rp 823.120
3  Rp 886.000
4  Rp 893.000
5  Rp 777.000
6  Rp 784.000
7  Rp 895.000
8  Rp 944.000

In [ ]:
doc = docx.Document()

#heading
doc.add_heading('Price Of Gold', level=2)
doc.add_paragraph('These are the list of the price of golds')#, style='Intense Quote')

table = doc.add_table(dfnew.shape[0]+1, dfnew.shape[1])

# header table
for j in range(dfnew.shape[-1]):
    table.cell(0,j).text = dfnew.columns[j]
    
for i in range(dfnew.shape[0]):
    for j in range(dfnew.shape[-1]):
        table.cell(i+1,j).text = str(dfnew.values[i,j])

table.style = 'DarkList'
doc.save('Price Of Gold.docx')
print('File Saved!!')

## Update an existing document

1. Add New Column with date of today as the label name
2.

from docx.shared import Cm, Inches
from docx.enum.table import WD_TABLE_DIRECTION

#Read Existing document
doc = docx.Document()
doc = Document('Price Of Gold.docx')

#List the table
tbl = doc.tables

#Add A New Column
newcolumn = tbl[0]
newcolumn.table_direction = WD_TABLE_DIRECTION.LTR
newcolumn.add_column(Inches(1.0))

#Change the name of new column with date of today
newcolumn.cell(0,1).text = str(pd.to_datetime('today').strftime("%d-%m-%Y"))

newcolumn.style = 'Table Grid'
doc.save('NEW Price Of Gold.docx')
print('File Saved!!')

In [123]:
from docx.shared import Cm, Inches
from docx.enum.table import WD_TABLE_DIRECTION

#Read Existing document
doc = docx.Document()
doc = Document('Data Up to Date.docx')

#List the table
tbl = doc.tables

#Add A New Column
toc = tbl[0]
toc.add_column(Inches(1.0))

#header table
for j in range(dfnew22.shape[-1]):
    toc.cell(0,2).text = dfnew22.columns[j]
    

#table content
for i in range(dfnew22.shape[0]):
    #newcolumn.table_direction = WD_TABLE_DIRECTION.LTR 
    for j in range(dfnew22.shape[-1]):
        toc.cell(i+1,2).text = str(dfnew22.values[i,j])

toc.style = 'Medium Shading 1 Accent 6'
doc.save('Price Of Gold 22.docx')
print('File Saved!!')

File Saved!!